<!DOCTYPE html>
<html lang="en">
<%= success %>
<%= error %>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MQCW3Y2V0X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MQCW3Y2V0X');
</script>
        <link rel="stylesheet" href="/../../mainStyle.css">
        <link rel="stylesheet" href="/../../navbarstyle.css">
        <link rel="stylesheet" href="/../../infoStyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tispur</title>
        <link rel="icon" type="image/png" href="../../favicon.png">
</head>
        <body>
            <%- include('../partials/navbar') %>
                <section id="movieDetails">
                    <section id="result">
                    <div>
                        <% for(let result of book){ %>
                                    <% if(result.volumeInfo.imageLinks != undefined || null) {%> 
                                        <img src="<%= result.volumeInfo.imageLinks.thumbnail %>" alt="N/A">
                                        <% }else{ %> 
                                            * No Cover *
                                        <% } %> 
                 </div>
                    <div>
                        <p>
                            <strong>
                                <%= result.volumeInfo.title %> (<%= result.volumeInfo.publishedDate %>)
                            </strong>
                        </p>
                        <p>
                            By: <%= result.volumeInfo.authors %>
                        </p>
                        <p>
                            <%= result.volumeInfo.subtitle %> 
                        </p>
                        <p>
                            <strong>
                                Page Count:
                            </strong>
                            <%= result.volumeInfo.pageCount %> 
                        </p>
                        <p>
                            <strong>
                                Categories:
                            </strong>
                            <%= result.volumeInfo.categories %> 
                        </p>
                        <p>
                            <strong>
                                Critics' Ratings:
                            </strong>
                        <ul>
                            <li>
                                <strong>
                                    Re-View :
                                </strong>
                                <% if(isNaN(averageRating)==false){ %>
                                    <%= averageRating %>/10
                                        <%}else{ %>
                                            --/10
                                            <% } %>
                            </li>
                            <li>
                                <strong>Google Rating : </strong>
                                <%= result.volumeInfo.averageRating %>/5 (<%= result.volumeInfo.ratingsCount %> reviews)
                            </li>
                        </ul>
                        </p>
                        <p>
                            <strong>Summary:</strong>
                            <%= result.volumeInfo.description %>
                        </p>
                        <p>
                                <form action="/submit/<%= id %>/<%= result.volumeInfo.title %>/<%= encodeURIComponent(result.volumeInfo.imageLinks.thumbnail) %>/book">
                                    <button>
                                        Make Post
                                    </button>
                                </form>
                        </p>
                        <p>
                            <a href="<%= result.volumeInfo.infoLink %> " class="button">
                                Google Books Link
                            </a>
                        </p>
                    </div>
                </section>
                <section id="review">
                                        <div>
                                            <strong>Rate:</strong>
                                            <% if(result.volumeInfo.imageLinks != undefined || null) {%> 
                                                <form action="/rate/<%= result.id %>/<%= result.volumeInfo.title %>/<%= encodeURIComponent(result.volumeInfo.imageLinks.thumbnail) %>" method="POST">
                                                <% }else{ %> 
                                                    <form action="/rate/<%= result.id %>/<%= result.volumeInfo.title %>/<%= 'No Cover' %>  " method="POST">
                                                        <% } %> 
                                                        <% } %> 
                                                                <span>
                                                <select name="rating" id="rating">
                                                    <option value="1">1</option>
                                                    <option value="1.5">1.5</option>
                                                    <option value="2">2</option>
                                                    <option value="2.5">2.5</option>
                                                    <option value="3">3</option>
                                                    <option value="3.5">3.5</option>
                                                    <option value="4">4</option>
                                                    <option value="4.5">4.5</option>
                                                    <option value="5">5</option>
                                                    <option value="5.5">5.5</option>
                                                    <option value="6">6</option>
                                                    <option value="6.5">6.5</option>
                                                    <option value="7">7</option>
                                                    <option value="7.5">7.5</option>
                                                    <option value="8">8</option>
                                                    <option value="8.5">8.5</option>
                                                    <option value="9">9</option>
                                                    <option value="9.5">9.5</option>
                                                    <option value="10">10</option>
                                                </select>
                                                <textarea name="review" id="review" cols="100" rows="2" placeholder="Type your review here..." required></textarea>
                                            </span>
                                                <button>Submit</button>
                                            </form>
                                        </div>          
                        <% if(reviews!='No Reviews Yet, Be the first to write a review for this title.'){ %>
                        <% for(review of reviews[0].users.reverse()){ %>
                            <div>
                                <span>
                                    <p>User:
                                        <a href="/profile/review.user"><%= review.user %></a>
                                    </p>
                                    <p>
                                        Posted: <%= review.date.toString().substring(0,15) %> 
                                    </p>
                                </span>
                                <p>Rating:
                                    <%= review.rating %>
                                </p>
                                <p>Review:
                                    <%= review.review %> 
                                </p>
                                <% if(username == review.user){ %> 
                                    <p>
                                        <form action="/delete/<%= id %>/<%= book[0].volumeInfo.title %>/book?_method=DELETE" method="POST">
                                            <button>DELETE</button>
                                        </form>
                                    </p>
                                <% } %>
                                </div>
                                <% } %>
                                    <% }else{ %>
                                        <div>
                                        <p>
                                            <%= reviews %>
                                        </p>
                                        </div>
                                        <% } %>
                </section>
                </section>
        </body>
        <footer>
            <script src="../../script.js"></script>
        </footer>
</html>
